body{

   
   overflow-x: hidden;
   background:url("../img/mostrador.png");
   background-repeat: no-repeat ;
   background-attachment: fixed;
   background-size:100% 100% ;

   
}


#modal_usuario{

    margin-left: 10px;
    padding-top: 10px;

}
.fa{

    font-size: 50px;
  
}

.navbar-nav{


    box-shadow: 0px 0px 10px #ccc;
    background: #f8f4df;
    background-clip: border-box;
    border-radius: .25rem;
    opacity: 0.9;
}
.nav-item{

    padding: 7px;
}
.nav-link{

    font-weight: bold;
    font-size: 20px;
    color:#d762e2!important;
    transition: all 500ms;
  
}
.nav-link:hover{

    background-color:#d762e2;
    color:#f8f4df !important;
    
}

#logo{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  
}

#logo img{

    width: 120px;

    
}



h1{

    font-size:40px;
    font-weight: bold;
    letter-spacing: 1px;

}
.usuario{
    
    width: 100%;
    height: 35px;
    text-align: center;
    
   
}

#tarjetas{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
 
    
}


.card{
    
    
    background:url(../img/caja.png) ;
    color: rgb(10, 5, 10);
    background-size: cover;
    margin-bottom: 10px; 
    
}
.card img{

    width: 100px;
    margin: 0px auto;
    padding-top: 38px;
    margin-bottom: -26px;
}


.card-body{

    font-size: 15px;
    font-family: sans-serif;
}

.card-body span,
.card-body p,
.card-text{

    font-weight: bold;
    background-color: #dcaa6d;
}

.cantidad{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.btn{

    color:#212529;
    background: #dcaa6d;
    border:1px solid #212529;
    font-weight: bold;
}





.ajustar_imagen img{

    width: 40px;
    height: 40px;
    
}

.papelera{

    cursor: pointer;
    margin-left: 2px;
    font-size:20px;
}




#total_pedido{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-height: 170px;
    margin-left: 31px;
    
    font-family: sans-serif, Arial, Helvetica;
    font-size: 18px;
    font-weight: bold;
    border:1px solid rgba(225,225,226,0.8);
    box-shadow: 0px 0px 10px #ccc;
    background: #f8f4df;
    background-clip: border-box;
    border-radius: .25rem;
    color:#d762e2;
    opacity: 0.9;
}
.btn-lila{

    background-color:#d762e2 ;
    color: #e8e3ce; 
    border:none;
}



input[type="text"]:focus, 
input[type="password"]:focus
{
    box-shadow: none;
    border: 2px solid #d762e2 !important;
   
 }

#importe_pedido{

    color: #b31f42;


}


#carrito{
    height: 594px;
    margin-left: 53px;
    color:#f8f4df;
    background-color:#d762e2 ;
    border:1px solid rgba(225,225,226,0.8);
    box-shadow: 0px 0px 10px #ccc;
    background-clip: border-box;
    border-radius: .25rem;
    opacity: 0.9;
    text-align: center;
    font-size: 14px;
  
}

#titulo_carrito{


    font-size: 20px;
}




.equipo_usuarios img{

    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
  

 }


.equipo_usuarios {

    display:flex ;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    justify-content: center;
    border:1px solid rgba(225,225,226,0.8);
    box-shadow: 0px 0px 10px #ccc;
    background: #f8f4df;
    background-clip: border-box;
    border-radius: .25rem;
    color:#d762e2;
    opacity: 0.9;
    padding: 10px;
    
}




.equipo_usuarios span{

   font-size: 15px;
   font-weight: bold;
  
}

.nombre,
.apellido,
.foto{
    margin-left: 10px;
    cursor: pointer;
}



h2,
#usuario_identificado{

    display: none;
    text-align: center;
    font-family: sans-serif;
    background-color:#d762e2;
    padding: 5px;
    color:  #f8f4df;
    box-shadow: 0px 0px 10px #ccc;
    background-clip: border-box;
    border-radius: .25rem;
}

h2{
    display: block;
}


#cerrar_sesion{
  
    text-decoration: none;
    color: #f8f4df;
    margin-left: 5px;
}

#cerrar_sesion .fa{

    font-size: 20px;
}

footer{

   
    width: 100%;
    height: auto;
    margin: 0px auto;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px #ccc;
    background: #f8f4df;
    background-clip: border-box;
    border-radius: .25rem;
    opacity: 0.9;
    
  
    
}




.footer-menu a{

    text-decoration: none;
    font-size: 15px;
}


.logo_footer{
    
    width: 9%;
}

.list-inline .list-inline-item{

    padding: 5px;
    margin-top: 0px;
    

}


footer h6{
    color: #120e0b;
}
.list-inline-item a
{

    color:#d762e2;
    font-size: 20px;
  
}

a ion-icon{

    transition: 500ms all;

}
    
a ion-icon:hover
{

    transform:scale(1.4,1.4);
    color: #212529;
}
small{

    color:#d762e2;
}

/********RESPONSIVE*********/

@media(max-width:1295px){

    #carrito article{

        font-size: 13px;
    }
    .papelera{

        
        margin-left: 0px;
        font-size:18px;
        text-align: center;
    }

    .card img{

    width: 100px;
    margin: 0px auto;
    padding-top: 38px;
    margin-bottom: -26px;
}


}


@media(max-width:1142px){

    .card{

        width: 13rem !important;
    }

    .card img{

        width: 80px;
        
    }
    
    .card-body{
    
        font-size: 12px;       
    }

    #carrito{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 14px;
        height: 520px;
        margin-left: 20px;

        
      
    }
    


    #titulo_carrito{


      margin-bottom: 10px;
    }
    
    #carrito article{

        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    
}

@media(max-width:1089px){

    .card{

        width: 12rem !important;
    }

    #total_pedido,
    .btn-lila{

        font-size: 15px;
        font-weight: bold;
    }
    
}

@media(max-width:1018px){

    .card{

        width: 11rem !important;
    }
    .card-body{
    
        font-size: 10px;       
        font-weight: bold;
    }
   .card img{

        width: 70px;
        
    }
    
    

   

}


@media(max-width:991px){

    .card{

        width: 13rem !important;
    }
   
    #total_pedido{

        margin-left: 0px;
    }
    .btn-lila{

        margin-left: 10px;
    }
    .card-body{
    
        font-size: 12px;       
        font-weight: bold;
    }
   
    #carrito article{

       font-size: 18px;
    }

    #carrito{
        
        height: 765px;
    }


}



@media(max-width:767px){

 

    .contenedor-main{

        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: center;
       
    }

    #carrito{

        margin-left: 0px;
    }

}


@media(max-width:575px){

    #tarjetas{

       width: 50%;
    }

    #carrito{

        height: auto;
       
    }

    h1{

        font-size: 18px;
    }
    .logo_footer{

        width: 70px ;
        
    }
}
@media(max-width:494px){


    #logo{

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #tarjetas{

        width: 50%;
     }
   
}

@media(max-width:430px){


    #logo{

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
    }

    #tarjetas{

        width: 50%;
     }


}
@media(max-width:384px){


    #tarjetas{

        width: 60%;
    }


}

@media(max-width:320px){


    #tarjetas{

        width: 75%;
    }

    

  

}
