body{

   background: #f8f9fa;
   overflow-x: hidden;
   
}
.fa{

    font-size: 50px;
}
header{
    color: #ff7000;

}

#logo{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
#logo img{

    width: 80px;
    
}

.usuario{
    
    width: 100%;
    height: 35px;
    text-align: center;
    
   
}

#tarjetas{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
 
   
}


#tarjetas article{

   
}

.card{
    
    background:rgb(255, 210, 255);
    margin-bottom: 10px;
   
}
.card img{

    width: 100px;
    margin: 0px auto;
}

.cantidad{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.btn{

    color:#212529;
    background: #ffd2ff;
    font-weight: bold;
}


aside{

   
    background-color: rgb(183, 231, 231);
    
  
}


.card-body{

    font-size: 15px;
}

.card-body span{

    font-weight: bold;
}

.ajustar_imagen img{

    width: 40px;
    height: 40px;
    
}

.papelera{

    cursor: pointer;
    margin-left: 3px;
    font-size:20px;
}

#total_pedido{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: yellow;
    font-size: 25px;
    margin-left: 30px;
    max-height: 200px;
    
}

#carrito{

    margin-left: 20px;
}


#importe_pedido{

    margin-bottom: 35px;
}